/* Courses Section */
.courses-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.course-card {
    background-color: var(--white);
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: var(--box-shadow);
    transition: var(--transition);
}

.course-card:hover {
    /* transform: translateY(-10px); */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.course-image {
    height: 200px;
    overflow: hidden;
}

.course-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition);
}

.course-card:hover .course-image img {
    transform: scale(1.1);
}

.course-content {
    padding: 20px;
}

.course-category {
    display: inline-block;
    background-color: var(--primary-light);
    color: var(--primary-dark);
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.course-title {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.course-instructor {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: var(--gray-color);
}

.course-instructor img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.course-meta {
    display: flex;
    justify-content: space-between;
    color: var(--gray-color);
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.course-price {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
}

main > h3 {
    border-left: 4px solid var(--dark-color);
    color: var(--dark-color);
    padding-left: 10px;

}

.course-price .addToCart button {
    padding: 6px 8px;
    border-radius: 4px;
    font-family: inherit;
    transition: var(--transition)
}

.course-price .addToCart[status="have-not"] 
button
{
    cursor: pointer;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: var(--white);
}

.course-price .addToCart[status="have-not"] 
button:hover
{
    cursor: pointer;
    border: 1px solid var(--primary-light);
    color: var(--white);
    background: var(--primary-light);
}

.course-price .addToCart[status="have"] 
button
{   
    cursor: pointer;
    border: 1px solid var(--gray-color);
    color: var(--gray-color);
    background: var(--white);
}

.course-price .addToCart[status="have"] 
button:hover
{   
    cursor: pointer;
    color: #ccc;
}

.serch {
    display: flex;
    justify-content: space-between;
}

input#Search {
    width: 79%;
    padding: 10px 12px;
    margin: 10px 0;
    font-family: inherit;
    outline: none;
    border: 2px solid var(--primary-dark);
    color: var(--primary-dark);
}

select {
    width: 19%;
    padding: 10px 12px;
    margin: 10px 0;
    outline: none;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);   
    background: var(--white);
    font-family: inherit;
}
